.search-field {
    span {
        background-color: $site-background;
        padding: 12px 15px;
        border-radius: 10px 0px 0px 10px;
    }
    button {
        background-color: $site-blue;
        padding: 12px;
        border: 1px solid $site-blue;
        border-radius: 8px;
        margin-left: -14px;
        i {
            color: white;
        }
    }

    input {
        padding: 10px;
        margin-left: -5px;
        border: 1px solid $site-background;
        width: 70%;
        height: 40px;
        &::placeholder {
            color: $site-color;
            opacity: 1;
            font-weight: bold;
        }
    }
}