.search-field {
    box-shadow: inset 0px 0px 0px 1px $line-color;
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid $site-background;
    display: flex;
    span {
        background-color: $site-background;
        padding: 12px 15px;
        box-shadow: inset 0px 0px 0px 1px $line-color;
        border-radius: 15px 0px 0px 15px;
        margin-left: -3px;
    }
    button {
        background-color: $site-blue;
        padding: 12px;
        border: 1px solid $site-blue;
        border-radius: 8px;
        i {
            color: white;
        }
    }

    input {
        padding: 10px;
        border: none;
        width: 100%;
        &::placeholder {
            color: $site-color;
            opacity: 1;
            font-weight: bold;
        }
        &:focus {
            border: 1px solid $site-blue;
            border-right: none;
            outline: none;
        }
    }
}