.accomodations {

    .accomodations-container > article {
        padding: 4px;
        border-radius: 15px;
        display: flex;
        flex-flow: column nowrap;
        background-color: white;
        margin-bottom: 15px;
    
        img {
            border-radius: 15px 15px 0px 0px;
        }
    
        div {
            padding: 5px 12px;
            .fa-star {
                color: $site-blue;
            }
        }
    }
    @media all and (min-width: $extra_small) {
        .accomodations-container {
            
            & > article {
                width: 80%;
                margin: 15px auto;
            } 
        }
    }
    @media all and (min-width: $small) {
        .accomodations-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px 0px;
            & > article {
                width: 70%;
                margin: unset;
            } 
            
            & > article:nth-child(odd) {
               grid-column: 1/2;
               margin-right: 0px;
            } 
            & > article:nth-child(even) {
                grid-column: 2/3;
                margin-left: 0px;
            } 
        }
    }
}

.accomodation-img-height-hotfix {
    height: 219.4px;
}