footer {
    display: flex;
    background-color: $site-background;
    flex-flow: column wrap;
    padding:15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 443px;

    div {
        margin: 10px auto;
        width: 220px;
        * {
            padding: 5px;
        }
    }
}